.slick-next {
  right: -8px !important;
}
.slick-prev {
  left: -16px !important;
  z-index: 10;
}
.slick-dots {
  bottom: 0;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--bg-primary);
}
.slick-list {
  border-radius: 10px;
  box-shadow: var(--bg-black-bx-shadow--001);
}
.slick-dots li button:before {
  font-size: 10px;
}

@media screen and (max-width: 360px) {
  .slick-next {
    right: 14px !important;
  }

  .slick-prev {
    left: 4px !important;
  }
}
